<tr>
    <td colspan="<%= !message.my_msg ? '2': '1' %>">
        <% if(!message.my_msg){ %>
        <% if(message.msgType != 'text'){ %>
        <a href="<%= message.msgFilePath %>"><%= message.msgContent %></a>
        <% }else{ %>
        <span><%= message.msgContent %></span>
        <% } %>
        <% } %>
    </td>
    <td colspan="<%= message.my_msg ? '2': '1' %>">
        <% if(message.my_msg){ %>
        <% if(message.msgType != 'text'){ %>
        <a href="<%= message.msgFilePath %>"><%= message.msgContent %></a>
        <% }else{ %>
        <span><%= message.msgContent %></span>
        <% } %>
        <% } %>
    </td>
</tr>