<div>
    <h6>
        i'm a <strong>Client</strong>
    </h6>
    <p>
        <span>Referal CODE :</span>
        <input type="text" name="refCode" class="" id="" value="<%= extra.refCode %>">
    </p>
</div>
<!-- MAIN AREA -->
<div id="rootElement" data-email="<%= typeof(userEmail) != 'undefined' ? userEmail : '' %>">
    <!-- INCOMING NOTIFS -->
    <div id="clientInbox">
        <!--  -->
        <!--  -->
        <h4>Demandes de consultation</h4>
        <% if(!extra.inbox){ %>
        <%- include('./partials/empty') %>
        <% }else{ %>
        <% if(extra.inbox.length <= 0){ %>
        <%- include('./partials/empty') %>
        <% }else{ %>
        <h3>Not empty</h3>
        <% } %>
        <% } %>
    </div>
    <!-- connections -->
    <div>
        <h4>Liste de clients</h4>
        <% if(!extra.clients){ %>
        <%- include('./partials/empty') %>
        <% }else{ %>
        <% if(extra.clients.length <= 0){ %>
        <%- include('./partials/empty') %>
        <% }else{ %>
        <h3>Not empty</h3>
        <% } %>
        <% } %>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/alterEgo/jquery.ajax.min.js"></script>
<script src="/public/js/alterEgo/client/dashboard-socket.js"></script>
<script src="/public/js/alterEgo/client/dashboard-controller.js"></script>
<script src="/public/js/alterEgo/client/dashboard-view.js"></script>
<!--  -->
<script src="/public/js/alterEgo/utility.js"></script>
<!-- Partials -->
<%- contentFor('header') %>
<%- include('./partials/header_client') %>