<div id="rootElement" data-email="<%= typeof(userEmail) != 'undefined' ? userEmail : '' %>">
    <h5>
        i'm a <strong>Visitor</strong>
    </h5>
    <!--  -->
    <% if(extra.ongoing == null){ %>
    <div id="preConsStatus">
        <h4>Vous aves une consultation en cours de traitment</h4>
        <input type="button" value="Anuller" id="cancelPrecons" />
    </div>
    <% }else if(extra.ongoing == true){ %>
    <div id="preConsForm">
        <table border="1">
            <tr>
                <td>Titre :</td>
                <td>
                    <input type="text" class="" id="conTitle" required>
                </td>
            </tr>
            <tr>
                <td>Description :</td>
                <td>
                    <textarea id="conDesc" cols="30" rows="10" required></textarea>
                </td>
            </tr>
            <tr>
                <td>Ajouter des documents :</td>
                <td>
                    <input type="file" multiple name="conFile" id="conFile" class="">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Envoyer" class="" id="sendForm">
                </td>
            </tr>
        </table>
    </div>
    <% }else{ %>
    <% if(extra.consul != null){ %>
    <div id="activeCons">
        <h4>Consultations en cours : </h4>
        <%- include('./partials/consultation_card', {consultation : extra.consul}) %>
    </div>
    <% } %>
    <% } %>
    <div id="pastCons">
        <h4>Consultations précédentes :</h4>
        <% for(var i=0;i < extra.history.length ; i++){ %>
        <%- include('./partials/history', {consultation : extra.history[i]}) %>
        <% } %>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/alterEgo/jquery.ajax.min.js"></script>
<script src="/public/js/alterEgo/visitor/dashboard-socket.js"></script>
<script src="/public/js/alterEgo/visitor/dashboard-controller.js"></script>
<script src="/public/js/alterEgo/visitor/dashboard-view.js"></script>
<!--  -->
<script src="/public/js/alterEgo/utility.js"></script>
<!--  -->
<%- contentFor('css') %>
<link rel="stylesheet" href="/public/css/alterego/dashboard.css" />
<link rel="stylesheet" href="/public/css/alterego/dashboard_client.css" />
<link rel="stylesheet" href="/public/css/alterego/empty.css" />
<!-- Partials -->
<%- contentFor('header') %>
<%- include('./partials/header_visitor') %>