<div>
    <h6>
        i'm a <strong>Client</strong>
    </h6>
    <p>
        <span>Referal CODE :</span>
        <input type="text" name="refCode" class="" id="" value="<%= extra.refCode %>">
    </p>
</div>
<!-- MAIN AREA -->
<div id="rootElement" data-email="<%= typeof(userEmail) != 'undefined' ? userEmail : '' %>">
    <!-- INCOMING NOTIFS -->
    <div id="clientInbox">
        <!--  -->
        <!--  -->
        <h4>Demandes de consultation</h4>
        <% if(!extra.inbox){ %>
        <%- include('./partials/empty') %>
        <% }else{ %>
        <% if(extra.inbox.length <= 0){ %>
        <%- include('./partials/empty') %>
        <% }else{ %>
        <% for(notif of extra.inbox){ %>
        <%- include('./partials/notification_card', {notif}) %>
        <% } %>
        <% } %>
        <% } %>
    </div>
    <!-- connections -->
    <!-- <div id="clientConsul"> -->
    <% if(!extra.clients){ %>
    <div id="activeConsul">
        <h4>Consultations active :</h4>
        <%- include('./partials/empty') %>
    </div>
    <% }else{ %>
    <% if(extra.clients.length <= 0){ %>
    <div id="historyConsul">
        <h4>Hisotrique de consultations :</h4>
        <%- include('./partials/empty') %>
    </div>
    <% }else{ %>
    <div id="activeConsul">
        <h4>Consultations active :</h4>
        <% for(var i=0;i < extra.clients.length;i++){ %>
        <% if(extra.clients[i].consulState == -1){ %>
        <%- include('./partials/consultation_card', {consultation : extra.clients[i]}) %>
        <% }%>
        <% } %>
    </div>
    <div id="historyConsul">
        <h4>Hisotrique de consultations :</h4>
        <h4>Consultations active :</h4>
        <% for(var i=0;i < extra.clients.length;i++){ %>
        <% if(extra.clients[i].consulState != -1){ %>
        <%- include('./partials/history', {consultation : extra.clients[i]}) %>
        <% }%>
        <% } %>
    </div>
    <% } %>
    <% } %>
    <!-- </div> -->
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/alterEgo/jquery.ajax.min.js"></script>
<script src="/public/js/alterEgo/client/dashboard-socket.js"></script>
<script src="/public/js/alterEgo/client/dashboard-controller.js"></script>
<script src="/public/js/alterEgo/client/dashboard-view.js"></script>
<!--  -->
<script src="/public/js/alterEgo/utility.js"></script>
<!-- Partials -->
<%- contentFor('header') %>
<%- include('./partials/header_client') %>