<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/css-prefixed/toast.css">
    <%- css %>
    <title>Conlus</title>
</head>

<body>
    <%- header %>
    <%- body %>
    <%- include('./partials/footer') %>
    <script src="/public/js/toast.js"></script>
    <script src="/public/js/toastsHandler.js"></script>
    <%- script %>
</body>

</html>