<div class="auth_container">
    <div class="auth_inner_container container-custom">
        <div class="auth_feedback_cont">
            <%- include('./partials/feedback') %>
        </div>
        <form action="/v-register" method="POST" class="auth_form">
            <p class="auth_form_title">Créer votre compte Client</p>
            <div class="auth_form_row">
                <label for="auth_name" class="auth_row_label">Nom complet :</label>
                <div class="auth_row_input_cont">
                    <input type="text" name="userName" class="auth_row_input" id="auth_name" required
                        value="<%= typeof userName != 'undefined' ? userName : '' %>">
                </div>
            </div>
            <div class="auth_form_row">
                <label for="auth_email" class="auth_row_label">Adresse e-mail :</label>
                <div class="auth_row_input_cont">
                    <input type="text" name="userEmail" class="auth_row_input" id="auth_email" required
                        value="<%= typeof userEmail != 'undefined' ? userEmail : '' %>">
                </div>
            </div>
            <div class="auth_form_row">
                <label for="auth_tel" class="auth_row_label">Numéro de téléphone :</label>
                <div class="auth_row_input_cont">
                    <input type="text" name="userTel" class="auth_row_input" id="auth_tel"
                        value="<%= typeof userTel != 'undefined' ? userTel : '' %>">
                </div>
            </div>
            <div class="auth_form_row">
                <label for="auth_sexe" class="auth_row_label">Sexe :</label>
                <div class="auth_row_input_cont">
                    <select name="userSexe" class="auth_row_input auth_row_select" id="auth_sexe">
                        <option value="null" selected>Choisire</option>
                        <option value="male">Homme</option>
                        <option value="female">Femme</option>
                        <option value="non-binary">Non binaire</option>
                    </select>
                </div>
            </div>
            <div class="auth_form_row">
                <label for="auth_pass" class="auth_row_label">Mot de passe :</label>
                <div class="auth_row_input_cont">
                    <input type="password" name="userPass" class="auth_row_input" id="auth_pass" required>
                </div>
            </div>
            <div class="auth_form_row">
                <label for="auth_conpass" class="auth_row_label">Confirmation de mot de passe :</label>
                <div class="auth_row_input_cont">
                    <input type="password" name="userConPass" class="auth_row_input" id="auth_conpass" required>
                </div>
            </div>
            <div class="auth_form_row">
                <label for="auth_inv" class="auth_row_label">Code d'invitation :</label>
                <div class="auth_row_input_cont">
                    <input type="text" name="inviteLink" class="auth_row_input" id="auth_inv" required>
                </div>
            </div>
            <div class="auth_form_row auth_form_btns_cont">
                <button type="submit" class="auth_form_btn auth_form_btn_main">Créer mon compte !</button>
                <a href="/" class="auth_form_btn auth_form_btn_sec">Anuller</a>
            </div>
            <div class="auth_horizontal_sep">
                <p class="auth_sep_text">Vous étes déjà inscrit ?</p>
            </div>
            <a href="/login" class="auth_form_btn auth_form_btn_alt">S'identifier</a>
        </form>
    </div>
</div>
<%- contentFor('css') %>
<link rel="stylesheet" href="/public/css/alterego/auth.css" />
<!-- Partials -->
<%- contentFor('header') %>
<%- include('./partials/header_standard') %>